@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "VT323", monospace;
}

body {
  /*background: linear-gradient(to right, #477759, #63d471);*/
  background-color: black;
  height: 100vh;
  cursor: default;
}

.nav-bar {
  display: flex;
  height: 5vh;
  width: 100vw;
  background-color: white;
  justify-content: space-evenly;
}

.nav-bar > * {
  height: 5vh;
  padding: 0;
  margin: 0;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  text-align: center;
  width: 50%;
  height: 80%;
  background-color: gray;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.menu-content h1 {
  display: flex;
  align-items: center;
}

canvas {
  margin-top: 20px;
  width: 30vw;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.menu-button {
  background-color: #337ab7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.menu-button:hover {
  background-color: #23527c;
}

#settings-tab {
  width: 30%;
  background-color: gainsboro;
  padding: 5px;
  border-radius: 20px;
  position: absolute;
  bottom: 20%;
  right: 10%;
}

#settings-tab h2 {
  margin-bottom: 10px;
}

#multiplier-select {
  margin-bottom: 10px;
  margin-top: 10px;
}

#dice-chances-range {
  margin-bottom: 0;
  width: 30%;
  margin-bottom: 10px;
}

#dice-chances-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

#credits-tab {
  background-color: gainsboro;
  padding: 5px;
  border-radius: 20px;
  position: absolute;
  bottom: 10%;
  right: 28%;
}

#credits-tab h2 {
  margin-bottom: 10px;
}

#credits-tab ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#credits-tab li {
  margin-bottom: 10px;
}

.navigation {
  display: flex;
  justify-content: right;
  padding: 10px;
}

.navigation > img {
  margin-right: auto;
}

.audio-container {
  margin-top: 10px;
  margin-right: 10px;
}

#volume-icon {
  text-align: center;
  font-size: 40px;
  width: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.info-container {
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  font-size: 50px;
  width: 65px;
  height: 65px;
  color: black;
}

#info-tab {
  background-color: gainsboro;
  filter: brightness(85%);
  padding: 5px;
  border-radius: 20px;
  margin-right: 4%;
  margin-top: 5%;
  width: 90%;
  height: 87.5%;
  position: absolute;
  z-index: 999999;
  padding: 25px;
  padding-top: 5px;
  font-size: 20px;
}

#info-tab h2 {
  font-size: 40px;
  text-align: center;
}

#info-tab span {
  vertical-align: middle;
  line-height: 75px;
}

.infoLogo {
  vertical-align: middle;
}

#info-tab h4 {
  font-size: 30px;
  padding-bottom: 10px;
  margin-bottom: 3px;
  margin-top: 5px;
}

#open-menu-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

#open-menu-button i {
  justify-self: flex-end;
  font-size: 40px;
  width: 60px;
  padding-top: 10px;
}

.player-points {
  display: inline-flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  color: white;
  font-size: 90px;
  font-weight: bolder;
}

.game {
  width: 80.5vw;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: auto;
}

.player-container {
  display: inline-block;
  height: 80vh;
  width: 40vw;
  padding: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.player-name,
.score-player,
.current-score {
  width: 97%;
  letter-spacing: 2px;
  background-color: #000;
  color: #fff;
  padding: 5px;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
  border: black 5px solid;
}

.player-name {
  font-size: 40px;
  text-align: center;
  cursor: text;
}

.score-player {
  font-size: 60px;
  text-align: center;
  border-color: black;
}

.current-score {
  background-color: #222;
  padding: 10px;
  margin: 10px;
}

.score-player,
.player-current-score {
  background-color: #666;
  display: inline-block;
  padding: 5px 10px;
}

.player-current-score {
  font-size: 20px;
  margin-left: 10px;
}

.controls-container {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 20%;
  height: 80%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.controls-container button,
.controls-container img {
  border: 5px solid black;
  border-radius: 20px;
}

.controls-container > button {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 80%;
  height: 10%;
  font-size: 1.5rem;
}

.latest-dice-throw {
  text-align: center;
  font-size: 120px;
}

.latest-dice-throw > i {
  background-color: black;
  padding: 20px;
  border-radius: 20px;
}

#player1 {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#player2 {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.current-score {
  font-size: 25px;
}

.player-current-score {
  font-size: 25px;
  border: 2px solid white;
  border-radius: 8px;
}

.multiplier-in-game {
  color: rebeccapurple;

  font-size: 30px;
  margin-left: 10px;
}

button {
  filter: brightness(80%);
}

button:hover {
  filter: brightness(100%);
  background-color: white;
  cursor: pointer;
}

button:active {
  filter: brightness(60%);
}

.winner {
  font-size: 150px;
  background: linear-gradient(to right, yellow, rgb(180, 255, 0));
}

.active {
  filter: brightness(10%);
}

.currentPlayer {
  filter: brightness(40%);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0s linear 0.3s;
  pointer-events: none;
}

:not(.hidden) {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
